@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.light{
    --background: 239, 231, 215;
    --borderColor: 255, 60, 0, 0.4;
    --copyPrimary: 255, 60, 0;
    --copySecondary: 143, 143, 143;
}

.dark{
    --background: 8, 8, 8;
    --borderColor: 255, 255, 255, 0.2;
    --copyPrimary: 	239, 231, 215;
    --copySecondary: 239, 231, 215;
} 

.orange{
    --background: 255, 60, 0;
    --borderColor: 255, 255, 255, 0.5;
    --copyPrimary: 	239, 231, 215;
    --copySecondary: 239, 231, 215;
}

.blue{
    --background: 0, 77, 179;
    --borderColor: 213, 231, 255;
    --copyPrimary: 	255, 255, 255;
    --copySecondary: 255, 255, 255;
}

.green{
    --background: 0, 164, 95;
    --borderColor: 213, 231, 255;
    --copyPrimary: 	255, 255, 255;
    --copySecondary: 255, 255, 255;
}
